<footer>
<p>
  The site is based on a template by <a href="https://twitter.com/philhawksworth">Phil Hawksworth</a>. The code is located on <a href="https://github.com/tbarn/devrel-ladders">GitHub</a>.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
